.Request Parameters
|===
|Parameter|Type|Required|Description

{{#parameters}}
|`{{name}}`
|`{{type}}`
|{{#optional}}선택{{/optional}}{{^optional}}필수{{/optional}}
|{{description}}

{{/parameters}}
|===
